
.container {
justify-content: center;
align-content: center;
  background-color: #cbb8f0; 
  width: 300px;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  margin: 100px 600px;
}

.box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  margin: 0;
  font-size: 18px;
  color: gray;
}

p {
  margin-top: 8px;
  font-size: 22px;
  font-weight: bold;
  color: #000;
}
