.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.card {
  width: 300px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 6px grey;
  text-align: center;
}

.info {
  padding: 10px;
}

.info h3 {
  font-size: 15px;
  margin: 6px 0 2px;
  font-weight: bold;
}

.info p {
  color: gray;
  font-size: 13px;
  margin: 2px 0;
}

.card .portrait {
  width: 100%;
  height: 300px;
}

.card .logo {
  width: 100px;
  height: 50px;
  display: block;
  margin: 10px auto 0;
  object-fit: contain;
}
