body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}
#sidebar{
    width: 250px;
    background-color: #2c3e50;
    color: white;
    height: 100vh;
    padding: 15px;
}
#main{
    flex: 1;
    padding: 20px;
}
#cards{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 250px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    text-align: center;
    background: white;
    margin: 10px;
}